.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000000;
  color:  rgb(138, 134, 168);
  padding: 20px;
}

.footer a {
  display: block;
  color:  rgb(138, 134, 168);
  text-decoration: none;   
}

.footer p {
  text-align: center;
}
